.container {
  margin: 50px 0;
  width: 70%;
}

.card {
  margin: 0 2% !important;
  min-width: 200px;
}

.cardHeading {
  font-weight: 600 !important;
  font-size: 24px !important;
}
.cardBody {
  font-size: 12px !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
